<%= form_for(@user, :url => avatar_update_path, :html => { :multipart => true } ) do |f| %>
  <p>
    <%= f.label :avatar %><br />
    <%= f.file_field :avatar %>
  </p>
   <div class="actions">
    <%= f.submit %>
  </div>
<% end %> 
