<% content_for :for_head do %>
  <%= stylesheet_link_tag :home %>
  <title>Overview</title>
<% end %>

<%= render "layouts/sidebar" %>
<div class="col-md-11">
<h1>Overview</h1>
<h3>Letzte Woche angelegt: </h3>
<div class="col-md-5">
	<ul class="list-group">
		<% @recent_sacentries.each do |sac_entry| %>
			<li class="list-group-item"> <%= sac_entry.description %> </li>
		<% end %>
	</ul>
</div>
</div>