<% content_for :for_head do %>
  <title>Contact</title>
<% end %>
<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">
      <div class="masthead clearfix">
        <div class="inner">
          <h3 class="masthead-brand">MoneySac</h3>
          <ul class="nav masthead-nav">
            <li><a href="/welcome/index">Home</a></li>
            <li><a href="/welcome/features">Features</a></li>
            <li class="active"><a href="#">About</a></li>
          </ul>
        </div>
      </div>
      <div class="inner cover">
        <h1 class="cover-heading">About</h1>
        <div>MoneySac is a small universitary project written in Ruby using the framework Rails. Also there exists a complete and working Android Application which can be used to track 
                your incomes and expenses.
        </div><br/><div>
          I am Kevin Noll, a student attending computer science at the htwsaar. This project is part of the lecture to Ruby on Rails. It was (and is) fun to develop and design this project.
        </div>
      </div>
      <div class="mastfoot">
        <div class="inner">
          <p>Designed with
            <a href="http://getbootstrap.com">Bootstrap</a>.</p>
        </div>
      </div>
    </div>
  </div>
</div>
