<% content_for :for_head do %>
  <%= stylesheet_link_tag :welcome, :media => "all" %>
  <title>Features</title>
<% end %>

<div class="site-wrapper">
	<div class="site-wrapper-inner">
        <div class="cover-container">
    	    <div class="masthead clearfix">
        	    <div class="inner">
            		<h3 class="masthead-brand">MoneySac</h3>
            		<ul class="nav masthead-nav">
                		<li><a href="/welcome/index">Home</a></li>
		                <li class="active"><a href="#">Features</a></li>
        		        <li><a href="/welcome/contact">Contact</a></li>
              		</ul>
            	</div>
        	</div>

        	<div class="inner cover">
            	<h1 class="cover-heading">Features</h1>
            	<p class="lead">A sleek and intuitive way to keep track where your money goes.
                    <br/>And where it comes from.</p>
            	<p class="lead">
        			<a href="#" class="btn btn-lg btn-default">Learn more</a>
        		</p>
	    	</div>

        	<div class="mastfoot">
            	<div class="inner">
              	<p>Designed with <a href="http://getbootstrap.com">Bootstrap</a>.</p>
            	</div>
        	</div>
    	</div>
	</div>
</div>
