<% content_for :for_head do %>
  <title>Features</title>
<% end %>
<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">
      <div class="masthead clearfix">
        <div class="inner">
          <h3 class="masthead-brand">MoneySac</h3>
          <ul class="nav masthead-nav">
            <li><a href="/welcome/index">Home</a></li>
            <li class="active"><a href="#">Features</a></li>
            <li><a href="/welcome/about">About</a></li>
          </ul>
        </div>
      </div>
      <div class="inner cover">
        <h1 class="cover-heading">Features</h1>
        <p class="lead">
          <div class="row">
            <div class="col-md-4"><img src="../images/stuff.png" alt="App" class="img-circle"/>
              <h5>Add your stuff!</h5>
            </div>
            <div class="col-md-4"><img src="../images/categories.png" alt="App" class="img-circle"/>
              <h5>Create Categories or choose from public ones!</h5>
            </div>
            <div class="col-md-4"><img src="../images/app.png" alt="App" class="img-circle"/>
              <h5>Keep track with the App!</h5>
            </div>
          </div>
          <!--<a href="#" class="btn btn-lg btn-default">Learn more</a>-->
        </p>
      </div>
      <div class="mastfoot">
        <div class="inner">
          <p>Designed with
            <a href="http://getbootstrap.com">Bootstrap</a>.</p>
        </div>
      </div>
    </div>
  </div>
</div>
