<div class="site-wrapper">
	<div class="site-wrapper-inner">
        <div class="cover-container">
    	    <div class="masthead clearfix">
        	    <div class="inner">
            		<h3 class="masthead-brand">MoneySac</h3>
            		<ul class="nav masthead-nav">
                		<li class="active"><a href="#">Home</a></li>
		                <li><a href="/welcome/features">Features</a></li>
        		        <li><a href="/welcome/contact">Contact</a></li>
              		</ul>
            	</div>
        	</div>

        	<div class="inner cover">
            	<h1 class="cover-heading">MoneySac</h1>
            	<p class="lead">A sleek and intuitive way to keep track where your money goes.
                    <br/>And where it comes from.</p>
            	<p class="lead">
        			<%= link_to 'Lets go', sac_entries_path, :class => "btn btn-lg btn-default" %> 
        		</p>
	    	</div>

        	<div class="mastfoot">
            	<div class="inner">
              	<p>Designed with <a href="http://getbootstrap.com">Bootstrap</a>.</p>
            	</div>
        	</div>
    	</div>
	</div>
</div>