<% content_for :for_head do %>
  <title>SacEntries</title>
<% end %>
<%= render "layouts/sidebar" %>
<div class="col-md-10">
  <h1>All available Categories</h1>
  <div class="col-md-5">
    <ul class="list-group">
      <% @categories.each do |category| %>
        <li class="list-group-item">
          <%= category.name %>
          <% if category.users.exists?(current_user) %>
            <%= link_to 'Unsubscribe', category_user_delete_path(:category_id => category) ,:class => 'btn btn-danger btn-xs', :type => 'button', :style => 'float:right'  %>
          <% else %>
            <%= link_to 'Subscribe', category_user_new_path(:category_id => category) ,:class => 'btn btn-success btn-xs', :type => 'button', :style => 'float:right'  %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
